<% home_team = @game.home_team.presence || @game.home_team_was %>
<% away_team = @game.away_team.presence || @game.away_team_was %>

<h1 class="text-3xl font-bold mb-6 text-gray-900 dark:text-gray-100">Edit <%= away_team %> @ <%= home_team %></h1>

<%= render partial: "games/game_form", locals: { game: @game } %>
