<div class="player-list overflow-x-auto">
  <table class="w-full table-fixed bg-white dark:bg-gray-800 rounded-lg shadow">
    <thead>
      <tr>
        <th class="px-6 py-3 border-b border-gray-200 dark:border-gray-700 text-left text-sm font-medium text-gray-600 dark:text-gray-300">
          Name
        </th>
      </tr>
    </thead>

    <tbody>
      <% players.each_with_index do |player, index| %>
        <% is_last_row = index == players.size - 1 %>
        <%= render "players/player_list_item", player: player, is_last_row: is_last_row %>
      <% end %>
    </tbody>
  </table>
</div>
